menu "ESP32 Camera Demo Configuration"

config WIFI_SSID
    string "WiFi SSID"
    default ""
    help
        SSID (network name) for the demo to connect to.

config WIFI_PASSWORD
    string "WiFi Password"
    default ""
    help
        Password for your network.

endmenu